

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

.card{
  min-height: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

#profilePicture{
    padding: 0px;
    margin: 0px;
}

.profileContainer{
    text-align: center;
    align-content: center;
    justify-content: center;
    display:inline-block;
    padding:0;
    margin:0;
}
.navbar, .footer{
    font-size: 14px;
    background-color: rgba(0, 102, 51, 1);
    background: -webkit-linear-gradient(top, #98B06F 0%, rgba(0, 102, 51, 1) 100%);
    background: linear-gradient(to bottom, #98B06F 0%, rgba(0, 102, 51, 1) 100%);
    border: 0px;
    border-radius: 0;
}
.jumbotron{
    background-color: #373F51;
    color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

hr{
    border:1px solid white;
}
.btn{
    background-color:#5DD39E;
    color:black;
}
.jumbotron-index{
    height: 50vh;
      background-image: url("https://images.unsplash.com/photo-1556975603-548e36a3b0d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      color:white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
}


      
    
.card-body{
    background-color: #373F51;
    color:white;
    
}
.card{
    border:none;
}
